{{ partial "header.html" . }}
<body class="side-panel-light has-loading-screen color-theme-monochrome">

    <!--PAGE-->

	<div id="page">
        <div id="content" class="animate">
            <div class="content-wrapper">
                <div class="container">
                    <div class="brand">
                        <a href="#">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <!--end brand-->
                    <div class="heading">
                        <h1>Hello! <br>This Website is Live Soon!</h1>
                        <p>Fresh design and content is preparing right now.<br>Don't forget to subscribe to stay tuned!</p>
                    </div>
                    <!--end heading-->
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal-subscribe">Notify Me</a>
                    <a href="#" class="btn btn-border open-side-panel">More Information</a>
                </div>
                <!--end container-->
            </div>
            <!--end content-wrapper-->
        </div>
        <!--end content-->
		<div class="cd-background-wrapper">
			<figure class="cd-floating-background">
				<div class="base-layer dark-overlay">
                    <div id="triangles"></div>
                </div>
				<!--end layer-->
                <div class="layer animate pointer-events-none" data-background-image="assets/img/triangles.png" data-layer-depth="550"></div>
				<!--end layer-->
			</figure>
			<!--end cd-floating-background-->
		</div>
		<!--end cd-background-wrapper-->
	</div>
	<!--end page-->

    <!--SIDE PANEL-->

    <div class="side-panel">
        <div class="nav-btn open-side-panel">
            <i></i>
            <i></i>
            <i></i>
        </div>
        <div class="wrapper">
            <div class="container-fluid">
                <section>
                    <h2>Contact Us</h2>
                    <section>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h3>Address</h3>
                                <address>
                                    860 Nipissing Rd, Milton,
                                    <br>
                                    ON L9T 4Z9
                                    <br>
                                    +1 919-571-2528
                                    <br>
                                    <a href="#">hello@example.com</a>
                                </address>
                            </div>
                            <!--end col-sm-6-->
                            <div class="col-md-6 col-sm-6">
                                <h3>Social</h3>
                                <figure>
                                    <a href="#" class="icon">
                                        <i class="fa fa-facebook"></i>Facebook
                                    </a>
                                </figure>
                                <figure>
                                    <a href="#" class="icon">
                                        <i class="fa fa-twitter"></i>Twitter
                                    </a>
                                </figure>
                                <figure>
                                    <a href="#" class="icon">
                                        <i class="fa fa-youtube"></i>Youtube
                                    </a>
                                </figure>
                                <figure>
                                    <a href="#" class="icon">
                                        <i class="fa fa-pinterest"></i>Pinterest
                                    </a>
                                </figure>
                            </div>
                            <!--end col-sm-6-->
                        </div>
                    </section>
                    <section>
                        <h3>Map</h3>
                        <div class="map" id="map-contact"></div>
                    </section>
                    <section>
                        <h3>Contact Form</h3>
                        <form id="form-contact" method="post" class="form clearfix inputs-underline">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Your Name" required>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Your Email" required>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                            </div>
                            <!--end row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="form-contact-message" rows="8" name="message" placeholder="Your Message" required></textarea>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-12 -->
                            </div>
                            <!--end row -->
                            <div class="form-group clearfix">
                                <button type="submit" class="btn pull-right btn-primary" id="form-contact-submit">Send a Message</button>
                            </div>
                            <!--end form-group -->
                            <div class="form-contact-status"></div>
                        </form>
                        <!--end form-contact -->
                    </section>
                </section>
                <p class="copyright">© {{ now.Format "2006" }} Emmanuel Team, All Rights Reserved</p>
            </div>
            <!--container-fluid-->
        </div>
    </div>
    <!--end side-panel-->

    <!--SUBSCRIBE MODAL-->

	<div class="modal fade" id="modal-subscribe" tabindex="-1" role="dialog" aria-labelledby="modal-subscribe-label">
		<div class="modal-dialog" role="document">
			<div class="modal-content" data-background-image="assets/img/pattern.png">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title" id="modal-subscribe-label">Stay Tuned</h2>
				</div>
                <!--end modal-header-->
				<div class="modal-body">
					<p>
						Be the first to know fresh news, updates and new releases! Just add your e-mail address and well
						let you know.
					</p>
				</div>
                <!--end modal-body-->
				<div class="modal-footer">
					<form class="form">
						<div class="form-group">
							<label for="subscribe-email">Email address</label>
							<input type="email" class="form-control" name="email" id="subscribe-email" placeholder="Email Address" required>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
                <!--modal-footer-->
			</div>
            <!--modal-content-->
		</div>
        <!--modal-dialog-->
	</div>
	<!--end modal-->

	{{ partial "footer.html" . }}
