	<script src="assets/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
    <script src="assets/js/pace.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
	<script src="assets/js/parallax-hero.js"></script>
	<script src="assets/js/modernizr.js"></script>
	<script src="assets/js/trianglify.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/custom.js"></script>

	<script type="text/javascript">

        var latitude = 43.5231124;
        var longitude = -79.8635901;
        var markerImage = "assets/img/map-marker.png";
        var mapTheme = "light";
        var mapElement = "map-contact";
        google.maps.event.addDomListener(window, 'load', simpleMap(latitude, longitude, markerImage, mapTheme, mapElement));

        var pattern = Trianglify({
            width: window.innerWidth,
            height: window.innerHeight
        });
        $("#triangles").append(pattern.canvas());

	</script>

</body>
</html>